@model Book
@{
    ViewBag.Title = "Add book";
    Layout = "_Layout";
}
<h2>Fill the form</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="Books" method="post">
            <div class="form-row">
                <label for="">
                    Book's name
                    <input asp-for="Name" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="">
                    Author's name
                    <input asp-for="Author" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="">
                    Year of release
                    <input asp-for="ReleaseYear" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="">
                    Description
                    <input asp-for="Description" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="">
                    Photo url or name in 'books' folder
                    <input asp-for="Photo" type="text">
                </label>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
