@model ControlWork7.ViewModels.BookCategoryViewModel
@{
    ViewBag.Title = "Add book";
    Layout = "_Layout";
}
<h2>Fill the form</h2>
<div asp-validation-summary="ModelOnly"></div>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="Books" method="post">
            <div class="form-row">
                <label for="">
                    Book's name
                    <input asp-for="Book.Name" type="text">
                </label>
                <span asp-validation-for="Book.Name"></span>
            </div>
            <div class="form-row">
                <label for="">
                    Author's name
                    <input asp-for="Book.Author" type="text">
                </label>
                <span asp-validation-for="Book.Author"></span>
            </div>
            <div class="form-row">
                <label for="">
                    Year of release
                    <input asp-for="Book.ReleaseYear" type="text">
                </label>
                <span asp-validation-for="Book.ReleaseYear"></span>
            </div>
            <div class="form-row">
                <label for="">
                    Description
                    <input asp-for="Book.Description" type="text">
                </label>
                <span asp-validation-for="Book.Description"></span>
            </div>
            <div class="form-row">
                <label for="">
                    Photo url or name in 'books' folder
                    <input asp-for="Book.Photo" type="text">
                </label>
                <span asp-validation-for="Book.Photo"></span>
            </div>
            @if (Model.Categories.Count != 0)
            {
                <div class="form_row">
                    <label for="">
                        Category
                        <select asp-for="Book.CategoryId">
                            @foreach (var item in @Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </label>
                </div>
            }
            <button type="submit">Add</button>
        </form>
    </div>
